.banner{
    position: relative;
}

.banner img{
    width: 100%;
    filter: brightness(0.5);
}

.logo img{
    width: 28%;
    position: absolute;
    bottom: 50px;
    left: 60px;
    filter: none;
}

.esfera img{
    position: absolute;
    width: 14%;
    bottom: 238px;
    right: 117px;
    filter: none;
}

.btn-card{
    background-color: #ac2f05 !important;
    border: none !important;
}

.card{
    transition: 0.5s;
    filter: grayscale();
}

.card:hover{
    cursor: pointer;
    transform: scale(1.08);
    filter: none;
}

.container-slider{
    
}

.card-container{
    background-image: url('./assets/goku-gif1.gif');
    background-size: cover;
}

.logo-menu{
    width: 10% !important;
}