/* Home */
.banner{
    position: relative;
}

.banner img{
    width: 100%;
    filter: brightness(0.5);
}

.logo img{
    width: 28%;
    position: absolute;
    bottom: 50px;
    left: 60px;
    filter: none;
}

.esfera img{
    position: absolute;
    width: 14%;
    bottom: 238px;
    right: 117px;
    filter: none;
}

.btn-card{
    background-color: #ac2f05 !important;
    border: none !important;
}

.card{
    transition: 0.5s;
    filter: grayscale();
}

.card:hover{
    cursor: pointer;
    transform: scale(1.08);
    filter: none;
}

.card-container{
    background-image: url('./assets/goku-gif1.gif');
    background-size: cover;
    border-top: 8px solid black;
}

.logo-menu{
    width: 16% !important;
}

.title-card h1{
    background: black;
    color: white;
    width: min-content;
    margin: auto;
    padding: 0 60px;
    border-radius: 7px 7px 0 0;
}

.title-slider h1{
    background: black;
    color: white;
    width: min-content;
    margin: auto;
    padding: 0 60px;
    border-radius: 7px 7px 0 0;
}

.container-slider{
    border-top: 8px solid black;
}

.container-logo{
    width: 40%;
}

.container-header{
    background-color: #000 !important;
    padding: 10px 30px !important;
    position: sticky !important;
    z-index: 2 !important;
    top: 0 !important;
}

.link1 , .link2 , .link3{
    padding: 5px 10px 4px 10px !important;
    border-radius: 7px 7px 0 0;
 
}

.link1:hover, .link2:hover, .link3:hover{
    background: #fff;
    color: #000 !important;
    border: none;
    outline: none;
    transition: 0.5s;
}

.container-links{
    transition: 0.5s;
}

.container-links:hover{
    border-bottom: 1px solid #fff;
}